# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/

# Go workspace file
go.work

# End of https://www.toptal.com/developers/gitignore/api/go

links_*

scraping_results/
